body {
    background-color: pink;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.gridSizeCtn {
    display: flex;
    align-items: center;
}

.gridBtn {
    margin: 8px;
    background-color: rgb(238, 104, 126);
    border-color: none;
}

h2 {
    margin: 8px;
}

.blackBtn {
    margin: 8px;
    color: rgb(238, 104, 126);
    background-color: black;
    border-color: none;
}

.pinkBtn {
    margin: 8px;
    color: rgb(238, 104, 126);
    background-color: white;
    border-color: none;
}

.colorBtns {
    display:flex;
    align-items: center;
    justify-content: center;
    
}